default: &default
  queues:
    feedmon_fetch:
      concurrency: <%= ENV.fetch("FEEDMON_FETCH_CONCURRENCY", 2) %>
    feedmon_scrape:
      concurrency: <%= ENV.fetch("FEEDMON_SCRAPE_CONCURRENCY", 2) %>
    default:
      concurrency: <%= ENV.fetch("RAILS_QUEUE_CONCURRENCY", 2) %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
