default: &default
  queues:
    source_monitor_fetch:
      concurrency: <%= ENV.fetch("SOURCE_MONITOR_FETCH_CONCURRENCY", 2) %>
    source_monitor_scrape:
      concurrency: <%= ENV.fetch("SOURCE_MONITOR_SCRAPE_CONCURRENCY", 2) %>
    default:
      concurrency: <%= ENV.fetch("RAILS_QUEUE_CONCURRENCY", 2) %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
